<mat-toolbar>
  <div>
    <span class="header-title">Recipe Book</span>
    <span>|</span>
    <button mat-button routerLink="/home">Home</button>
  </div>
  <div *ngIf="accountDetails">
    <button mat-button [mat-menu-trigger-for]="menu">{{ accountDetails?.email }}</button>
    <mat-menu #menu='matMenu'>
      <button mat-menu-item (click)="onFavorites()">Favorites</button>
      <button mat-menu-item (click)="onShoppingLists()">Shopping lists</button>
    </mat-menu>
    <span>|</span>
    <button mat-button (click)="onLogout()">Logout</button>
  </div>
  <div *ngIf="!accountDetails">
    <button mat-button routerLink="./auth/login">Login</button>
    <span>|</span>
    <button mat-button routerLink="./auth/signup">Sign up</button>
  </div>
</mat-toolbar>
