<mat-toolbar>
  <div>
    <span class="header-title">Recipe Book</span>
    <span>|</span>
    <button mat-button routerLink="/home">Home</button>
  </div>
  <div *ngIf="accountDetails">
    <button [mat-menu-trigger-for]="menu" mat-button>{{ accountDetails?.email }}</button>
    <mat-menu #menu='matMenu'>
      <button (click)="onFavorites()" mat-menu-item>Favorites</button>
      <button (click)="onShoppingLists()" mat-menu-item>Shopping lists</button>
    </mat-menu>
    <span>|</span>
    <button (click)="onLogout()" mat-button>Logout</button>
  </div>
  <div *ngIf="!accountDetails">
    <button mat-button routerLink="./auth/login">Login</button>
    <span>|</span>
    <button mat-button routerLink="./auth/signup">Sign up</button>
  </div>
</mat-toolbar>
