<div class="search-container">
  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <mat-form-field>
      <mat-label>Recipe name</mat-label>
      <input matInput type="text" placeholder="Pizza" formControlName="name">
    </mat-form-field>
    <app-dropdown
      [dropdownData]="dropdownAreaData"
      formControlName="area"></app-dropdown>
    <app-dropdown
      [dropdownData]="dropdownCategoryData"
      formControlName="category"></app-dropdown>
    <button mat-raised-button color="primary" type="submit">Search</button>
  </form>
</div>
