<form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="input">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
  <mat-form-field class="input">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" formControlName="password" type="password">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
  <app-spinner *ngIf="loader$ | async"></app-spinner>
</form>
