<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="auth-form">
  <mat-form-field class="input">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field class="input">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput placeholder="Password" type="password">
  </mat-form-field>
  <button [disabled]="loginForm.invalid" color="primary" mat-raised-button type="submit">Login</button>
  <app-spinner *ngIf="loader$ | async"></app-spinner>
</form>
